* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
body {
    background-color: #333333;
}
.container {
    background-color: white;
    border-radius: 30px;
    display: grid;
    width: 90%;
    min-width: 670px;
    max-width: 1240px;
    padding: 10px 40px;
    margin: 5% auto;
}
.redText {
    color: red;
}
.info_header_title {
    font-size: 1rem;
    font-weight: 900;
}
.info_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.regist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid rgb(206, 206, 206);
}
.regist_step {
    display: flex;
    list-style: none;
    justify-content: right;
}
.regist_step :nth-child(3) {
    color: #FAC91D;
}
.regist_step > li {
    margin: 10px;
}
header {
    margin: 5px;
    width: 90%;
}


header nav ul li {
    display: inline;
    margin-right: 5px;
}

.container h2 {
    font-size: 1.8em; 
    margin-bottom: 10px;    
}

.note {
    text-align: end;
    color: red;
}

form {
    place-self: center;
    width: 100%;
    max-width: 736px;
    margin: 80px auto;
}
.info_item_box {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1.5fr;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.address {
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1.5fr;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.address_text {
    margin-bottom: 60px;
}
.info_item_box > label::before {
    content: '* ';
    color: #ff0000;
}
.info_item_input {
    position: relative;
}
.info_item_err_msg {
    position: absolute;
    top: -1.8rem;
}
.info_item_input > p {
    color: #ff0000;
}
.info_item_input input {
    width: 100%;
    height: 30px;
    max-width: 430px;
}
.info_item_btn {
    height: 30px;
    margin: auto;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.info_item_btn:hover {
    background-color: #444;
}

form .buttons button {
    width: 20%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.twobuttons {
    display: flex;
}
.form_btn {
    height: 45px;
}
.form_btn_address {
    margin-bottom: 95px;
}
.submit {
    background-color: #FAC91D;
    color: black;
}
