* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
body {
    background-color: #333333;
}
main {
    width: 70%;
    margin: 3rem auto;
}
.container {
    background-color: white;
    border-radius: 30px;
    display: grid;
    min-width: 670px;
    max-width: 1240px;
    padding: 10px 40px;
    margin: 5% auto;
}
.container h2 {
    font-size: 1.8em; 
    margin-bottom: 10px;    
}
.regist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #5c5c5c;
}
.regist_step {
    display: flex;
    list-style: none;
    justify-content: right;
}
.regist_step :nth-child(1) {
    color: #FAC91D;
}
.regist_step > li {
    margin: 10px;
}
form {
    place-self: center;
    width: 100%;
    margin: 30px auto;
}
.chk_box {
    position: relative;
}
.info_item_btn {
    height: 30px;
    margin: auto;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.info_item_btn:hover {
    background-color: #FAC91D;
    color: black;
}

form .buttons button {
    width: 250px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.twobuttons {
    display: flex;
}
.form_btn {
    height: 45px;
}
.form_btn_address {
    margin-bottom: 95px;
}

.agree {
    font-size: 1.2em;
}
.gray_span {
    font-size: 0.8em;
    color: gray;
}
.red_span {
    color: red;
    font-weight: 800;
    font-size: 0.9em;
    margin: 0rem 0.4rem;
}
.middle_span {
    font-size: 0.9em;
}
.agree_item {
    margin: 30px auto;
}

/* 모달창 */
.modal_overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal_window {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 60%;
    height: 50%;
    max-height: 70%;
}

.modalLine {
    width: 100%;
    height: 40vh;
    padding: 10px;
    border: none;
    border-radius: 4px;
    resize: none;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_area {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../../public/img/agree_cancel.png);
    display: inline-block;
    font-size: 1em;
    text-align: center;
    margin-left: 95%;
}

.text_btn {
    cursor: pointer;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border-style: none;
    padding: 5px 25px;
    margin-bottom: 3px;
    margin-left: 5px;
    position: absolute;
    top: -11px;
    right: 0;
}
.text_btn:hover {
    background-color: #FAC91D;
    color: black;
}

.textArea {
    width: 100%;
    height: 16vh;
    padding: 10px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    resize: none;
}

.hidden_box {
    visibility: visible;
}

.hidden_box.visible {
    visibility: hidden;
}

input:focus,
textarea:focus {
    outline: none;
}

/* 모달 페이드 */
.fade-enter-from {
    /* 시작시 효과 */
    opacity: 0;
  }
  
  .fade-enter-active {
    /* 전체 단계에서 적용될 부분*/
    transition: all 0.5s;
  }
  
  .fade-enter-to {
    /* 끝나는 효과 */
    opacity: 1;
  }

  .fade-leave-from {
    opacity: 1;
  }
  
  .fade-leave-active {
    transition: all 0.5s;
  }
  
  .fade-leave-to {
    opacity: 0;
  }

/* 웹버전 */
@media screen and (min-width: 1201px) {
    .container {
        padding: 20px 50px;
    }
    
    .info_item_btn {
        height: 40px;
        padding: 0 1.5rem;
    }
    
    form .buttons button {
        width: 280px;
        padding: 12px;
        font-size: 1.1em;
        line-height: 5px;
    }
    
    .agree {
        font-size: 1.4em;
    }
    
    .gray_span {
        font-size: 1em;
    }
    
    .red_span {
        font-size: 1.1em;
    }
    
    .middle_span {
        font-size: 1.1em;
    }
}

/* 태블릿버전 */
@media screen and (min-width: 771px) and (max-width: 1200px) {
    .container {
        padding: 15px 30px;
    }
    
    .info_item_btn {
        height: 35px;
        padding: 0 1.2rem;
    }
    
    form .buttons button {
        width: 280px;
        padding: 12px;
        font-size: 1.1em;
        line-height: 5px;
    }
    
    .agree {
        font-size: 1.3em;
    }
    
    .gray_span {
        font-size: 0.9em;
    }
    
    .red_span {
        font-size: 1em;
    }
    
    .middle_span {
        font-size: 1em;
    }

    .modal_window {
        width: 60%;
        max-width: 60%;
        height: 50%;
        max-height: 50%;
    }

    p {
        font-size: 0.8em;
    }
}

/* 모바일 버전 */
@media screen and (max-width: 770px) {
    main {
        width: 90%;
        margin: 2rem auto;
    }
    
    .container {
        min-width: auto;
        max-width: 100%;
        padding: 10px 20px;
        margin: 2% auto;
    }
    
    .container h2 {
        font-size: 1.5em; 
        margin-bottom: 5px;    
    }
    
    .regist {
        grid-template-columns: 1fr;
        border-bottom: none;
    }
    
    .regist_step {
        justify-content: center;
    }
    
    .regist_step > li {
        margin: 5px;
    }
    
    .info_item_btn {
        height: 30px;
        padding: 0 1rem;
    }
    
    form .buttons button {
        width: 100%;
        padding: 10px;
        font-size: 1em;
    }
    
    .agree {
        font-size: 1.2em;
    }
    
    .gray_span {
        font-size: 0.8em;
    }
    
    .red_span {
        font-size: 0.9em;
    }
    
    .middle_span {
        font-size: 0.9em;
    }
    
    .twobuttons {
        flex-direction: column;
    }
    
    .form_btn {
        height: 40px;
        margin-bottom: 10px;
    }
    
    textarea {
        height: 20vh;
    }

    .modal_window {
        width: 80%;
        max-width: 80%;
        height: 60%;
        max-height: 60%;
        padding: 0.5rem;
    }

    p {
        font-size: 0.5em;
    }
}