/* 장바구니 공통 작업 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

main {
    width: 70%;
    margin: 3rem auto;
}

/* 제목 */
.header_top {
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #5c5c5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_step > h2 {
    font-size: 1.8rem;
    margin-right: 10px;
}

.header_step > li {
    margin: 10px;
}

.header_step {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.li_yellow {
    color: #FAC91D;
}

.bag_box {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    gap: 20px;
}

.btn_box {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.btn_all {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.btn_delete {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.bag_flex_end {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.bag_padding_top {
    padding-top: 10px;
}
.bag_padding_bottom {
    padding-bottom: 10px;
}
.bag_margin_top {
    margin-top: 20px;
}
.bag_margin_bottom {
    margin-bottom: 10px;
}
.bag_margin_right {
    margin-right: 10px;
}
.bag_yellow {
    color: #FAC91D;
    margin-left: 10px;
}
.bag_border_none {
    border: none;
}
.bag_flex_end{
    display: flex;
    justify-content: flex-end;
}

.bag_Sequence {
    font-size: 1rem;
    font-weight: 400;
}


/* 쇼핑 계속하기 버튼 */
.bag_cancel {
    text-decoration: none;
    font-size: 1rem;
    height: 35px;
    width: 150px;
    line-height: 35px;
    text-align: center;
    padding: 0 1rem;
    margin-top: 6px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.bag_cancel:hover {
    background-color: #FAC91D;
    font-weight: 400;
    color: black;
}

/* 상품 목록 테두리 및 정렬*/
.bag_goods_item {
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

/* 상품, 배송비, 금액, 수량 그리드 */
.bag_grid {
    display: grid;
    grid-template-columns: 0.3fr 2fr 5fr 0.5fr;
    gap: 10px;
    padding: 20px;
}

.checkbox {
    grid-column: 1 / 2;
}

/* 상품이미지 */
.bag_goods_img {
    width: 90%;
    height: 90%;
    place-items: center; /* Grid 컨테이너 내부의 모든 항목을 중앙에 정렬 */
    grid-column: 2 / 3;
}


/* 상품 이름 */
.bag_goods_title {
    font-size: 1.5rem;
    font-weight: 500;
}


/* 상품 금액 글자조절 */
.bag_font {
    font-size: 0.8rem;
    font-weight: 900;
}

/* 휴지통 위치 조절 */
/* .bag_delete_flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
} */

/* 휴지통 이미지 */
.bag_delete {
    background-image: url('/img/Vector.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    grid-column: 4 / 5;
    margin: 0 25px 185px;
}

.reviewC_item_grid {
    display: grid;
    grid-template-rows: 0.8fr 0.4fr 0.4fr 0.2fr 0.2fr;
    grid-column: 3 / 4;
    align-items: center;
}

/* 수량 증가 감소 버튼 */
/* .bag_count {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    border-radius: 5px;
}
.bag_count_minus {
    padding: 0 10px;
    cursor: pointer;
}
.bag_count_minus:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.bag_count_plus {
    padding: 0 10px;
    cursor: pointer;
}
.bag_count_plus:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.quantity-input {
    width: 50px;
    text-align: center;
    border: none;
} */

/* 수량 증가 감소 버튼 */
.bag_count {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
}

.bag_count_minus {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
.quantity-input {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    text-align: center;
    line-height: 40px;
    border-right: none;
}

.bag_count_plus {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

.bag_total_box {
    position: fixed;
    right: 286px;
}



/* 페이지 네이션 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pagination button {
    margin: 15px 7px;
    padding: 2px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.pagination .page-numbers {
    display: flex;
    font-weight: bold;
    gap: 10px;
}
.pagination .page-number {
    background-color: white;
    cursor: pointer;
}
.pagination .page-number.active {
    border-radius: 50%;
    background-color: #FAC91D;
    border-color: #FAC91D;
}
.pagination button.disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}
.total_text_right {
    text-align: right;
}


/* 합계금액 보더 */
.bag_total_border {
    border: 1px solid #5c5c5c;
}

/* 합계금액 그리드 */
.bag_total_grid {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 3fr;
    align-items: center;
    justify-items: end;
    height: 8rem;
    padding-right: 10px;
    width: 30rem;
}

.bag_price_grid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-right: 10px;
}

.plus_icon {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.bag_total_item1 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.equal_icon{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.bag_total_item2 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

/* 전체삭제, 결제하기 버튼 그리드 */
.bag_btn_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #5c5c5c;
    padding-top: 20px;
}

.checkbox {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

input[type="checkbox"] {
    display: none;
}


input[type="checkbox"]:checked + .checkbox {
    background-image: url('/img/checked.png');
    background-size: contain;
}

.checked_icon {
    height: 25px;
    width: 25px;
}

.bag_hr {
    border-top: 1px solid #5c5c5c;
}

/* --------------------- move top --------------------- */
.move_top_img {
    width: 100%;
    height: 100%;
}



/* input 태그 number타입 자체 증감 버튼 없애기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
/* input[type='number'] {
  -moz-appearance: textfield;
} */