@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

.logo {
    width: 110px;
    height: 80px;
}
    
.display_none {
    display: none;
}

.header_content {
    background-color: black;
    display: grid;
    align-items: center;
}

.nav {
    display: grid;
    align-items: center;
    justify-items: center;
}

.nav_box {
    text-align: center;
}

.nav_font {
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.nav_mini_font {
    color: white;
    font-size: 0.8rem;
}

.nav_mini_title {
    text-align: center;
    line-height: 50px;
    color: white;
}

.nav_icon, .nav_icon_hover {
    width: 30px;
    height: 30px;
}

.nav_user_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 0.8rem;
    width: 100%;
}

.nav > .nav_box:hover
, .nav_mini_title > li:hover {
    background-color: #ffcd40;
}


.nav_mini_title > li > a:hover {
    color: black;
}

.nav_mini_title > li {
    background-color: rgba(0, 0, 0, 0.6);
}

.nav_icon_hover {
    display: none;
}

.nav_user_box:hover {
    color: #ffcd40;
}

.nav_box > a:hover {
    color: black;
}

/* ----------------------- 모달 ------------------------ */
.modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modal_img_box {
    width: 70%;
    height: 70%;
    background: url('/img/age19.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: 20%;
    left: 15%;
}

.btn_yes, .btn_no {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 200px;
    height: 80px;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.btn_yes:hover, .btn_no:hover {
    background-color: #ffcd40;
    border: 1px solid #ffcd40;
    color: black;
}

.btn_no {
    top: 75%;
    left: 50%;
}

.btn_yes {
    top: 75%;
    left: 32%;
}

.modal {
    display: none;
}

/* --------------------- 스와이퍼 ----------------------- */

.swiper_img {
    width: 100%;
    height: 800px;
    position: relative;
    z-index: -1;
}

.swiper_content {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.swiper_title {
    font-size: 4rem;
    font-weight: 900;
}

.swiper_title2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.swiper_title_weight {
    font-weight: 800;
}

.swiper_title3 {
    color: #5C5C5C;
    font-weight: 400;
}

.swiper_show {
    margin-top: 30px;
    padding: 5px 10px;
    background-color: black;
    font-size: 1.5rem;
    border-radius: 40px;
    color: white;
    width: 150px;
    text-align: center;
}

.swiper_show:hover {
    background-color: #ffcd40;
    color: black;
}

.swiper_left_icon {
    position: absolute;
    bottom: 50%;
    left: 1%;
}

.swiper_right_icon {
    position: absolute;
    bottom: 50%;
    right: 1%;
}

/* --------------------- 미디어 쿼리 ------------------- */
/* ---------------------- 웹 버전 ---------------------- */
@media screen and (min-width: 1201px) {
    /* ---------------------- 헤더 --------------------- */
    .header_content {
        grid-template-columns: 0.5fr 2fr;
        padding: 0 150px;
    }

    .hamburger { 
        display: none;
    }

    .cancel { 
        display: none;
    }

    .plus {
        display: none;
    }
    
    .nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.4fr 0.4fr 0.4fr;
        margin-left: 50px;
    }
    
    .nav_box {
        width: 200px;
        line-height: 87px;
    }

    .nav_mini {
        position: relative;
    }
    
    .nav_mini_title {
        position: absolute;
        width: 200px;
        z-index: 900;     
    }

    .nav_user_box {
        padding-left: 30px;
    }

    .nav_user_line{
        display: none;
    }
    
}

/* ---------------------- 태블릿 버전 ---------------------- */
@media screen and (min-width: 771px) and (max-width: 1200px) {
    
}

/* ---------------------- 모바일 버전 ---------------------- */
@media screen and (max-width: 770px) {
    /* ----------------------- 모달 ------------------------ */
    .btn_yes, .btn_no {
        position: absolute;
        border: 1px solid black;
        border-radius: 10px;
        background-color: black;
        color: white;
        width: 100px;
        height: 50px;
        font-size: 2rem;
        font-weight: 900;
        cursor: pointer;
    }

    .btn_no {
        top: 70%;
        left: 45%;
    }
    
    .btn_yes {
        top: 70%;
        left: 25%;
    }

    /* ---------------------- 헤더 --------------------- */
    .header_content {
        grid-template-columns: 0.3fr auto 0.3fr;
        padding: 5px 20px;
        gap: 5px;
        position: absolute;
        width: 100%;
        z-index: 990;
    }

    #nav{
        display: none;
    } 
    
    .hamburger_img {
        width: 30px;
        height: 20px;
        position: absolute;
        top: 35px;
        right: 30px;
        cursor: pointer;
    }

    .cancel_img {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 35px;
        right: 30px;
        cursor: pointer;
    }

    .cancel {
        display: none;
    }


    .nav {
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }

    .nav_item1, .nav_item2, .nav_item3, .nav_item4 {
        grid-column:  1 / 6;
    }

    .nav_item5 {
        grid-column: 1 / 2;
    }

    .nav_item6 {
        grid-column: 3 / 4;
    }

    .nav_item7 {
        grid-column: 5 / 6;
    }
    
    .nav_box {
        width: 100%;
        line-height: 80px;
    }

    .down_img {
        height: 15px;
        width: 25px;
        margin: 5px;
    }

    .nav_mini_title {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .nav_user_box {
        margin-top: 10px;
    }

    .nav_user_line {
        width: 2px;
        height: 50px;
        border-right: 1px solid white;
    }

    /* --------------------- 스와이퍼 ----------------------- */
    .swiper_img {
        width: 100%;
        height: 600px;
        position: relative;
        z-index: -1;
    }
    .swiper_left_icon, .swiper_right_icon {
        display: none;
    }        
}