main {
    width: 70%;
    margin: 3rem auto;
}

.dark-mode input {
    background-color: #5c5c5c;
    color: white;
    border-style: none;
}

.dark-mode .detailed_haeder_bag_a:hover .detailed_haeder_bag {
    color: rgb(0, 0, 0);
}

.dark-mode hr {
    border-color: #5c5c5c;
}

.dark-mode h1 {
    color: white;
}

.dark-mode div {
    color: white;
}

.kakao_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.modal_btn {
    background-color: rgb(0 0 0);
    color: #fff;
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 70px;
    cursor: pointer;
    margin: 20px;
}

.modal_btn:hover {
    background-color: #FAC91D;
    color: black;
}

.modal_second_overlay {
    display: flex;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.modal_second_window {
    background: rgb(253, 220, 57);
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 15%;
}

.second_content {
    color: black;
    text-align: center;
}

.complete_btn {
    cursor: pointer;
}

/* ------------------------- */

.down-enter-from {
    opacity: 0;
    transform: translateY(-200%);
  }
  
  .down-enter-active {
    transition: all 0.5s ease;
  }
  
  .down-enter-to {
    opacity: 1;
    transform: translateY(0%);
  }

  .down-leave-from {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .down-leave-active {
    transition: all 0.5s ease;
  }
  
  .down-leave-to {
    opacity: 0;
    transform: translateY(-200%);
  }

.btn_box {
    text-align: right;
}

hr {
    margin: 5rem auto;
}

h1 {
    margin: 0 auto;
}



/* ------------- 상품상세페이지 이미지상단 ------------- */


.detailed_haeder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.detailed_haeder > img {
    width: 43%;
}
/* ------------- 상품상세페이지 상품판매정보 ------------- */
.detaild_haeder_bnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.kakao_btn {
    display: flex;
    border: none;
    background-color: transparent;
    margin-bottom: 1rem;
    justify-content: flex-end;
}
.kakao_btn img {
    border-radius: 50%;
    width: 12%;
    cursor: pointer;
}
.detailed_haeder_item {
    font-size: 1.1rem;
}
.detailed_haeder_title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.detailed_haeder_price {
    font-size: 2rem;
    font-weight: 800;
}
.detailed_haeder_review {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 7rem;
}
.detailed_review {
    margin-left: 1rem;
    color: #FAC91D;
}

/* ------------- 수량 ------------- */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.detailed_quantity {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    
}
    
.detailed_haeder_minus {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}
.detailed_haeder_quantity {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    text-align: center;
    line-height: 40px;
    border-right: none;
}

.detailed_haeder_plus {
    border: 1px solid #5c5c5c;
    height: 40px;
    width: 3rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: transparent;
    cursor: pointer;
}

/* ------------- 총값 ------------- */
.detailed_haeder_num {
    display: inline-block;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    pointer-events: none;
    width: 12rem;
}
.detailed_haeder_btn {
    display: flex;
    gap: 4rem;
    margin-top: 5rem;
}
.detailed_haeder_bay
,.detailed_haeder_bag_a {
    border: none;
    display: flex;
    background-color: black;
    color: #fff;
    border-radius: 30px;
    height: 3.5rem;
    width: 13rem;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}
.detailed_haeder_bag_b {
    display: none;
}
.detailed_haeder_bag_a:hover {
    font-weight: 500;
    background-color: #FAC91D;
    color: black;
}
.detailed_haeder_bay:hover {
    background-color: #FAC91D;
    color: black;
}
/* ------------- 상품상세 메인정보 ------------- */
.detailed_content {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}
.detailed_content img {
    max-width: 170%;
}
/* ------------- 양조장 이야기 ------------- */
.detailed_title_story {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.datailed_title_img {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 9rem;
    border-radius: 3rem;
}
.detailed_img p {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.detailed_img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 49%;
    text-align: center;
    border-radius: 46px;
    background-image: url('/img/story.png'); 
}
.detailed_title_story_dt {
    border: none;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 2rem;
}
.detailed_title_story_dt:hover {
    font-weight: 500;
    background-color: #FAC91D;
    color: black;
}
/* ------------- 리뷰 ------------- */
.detailed_footer {
    margin-top: 3rem;
    display: flex;
    border: 1px solid #5c5c5c;
    padding: 1rem;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}
.detailed_footer_right {
    display: flex;
}
.detailed_footer_title {
    margin-right: 1rem;
}
.detailed_footer_date {
    padding-left: 2rem;
}
.detailed_footer_content {
    margin: 2rem;
    font-size: 1.3rem;
    white-space: nowrap; /* 줄 바꿈 방지 */
    overflow: hidden; /* 내용이 넘칠 때 숨김 처리 */
    text-overflow: ellipsis; /* 넘친 내용을 말줄임표(...)로 표시 */
    width: 80rem; /* 필요에 따라 너비 설정 */
}
.detailed_footer_review {
    text-align: center;
    margin-bottom: 6rem;
}


/* * 별점 선택* */
.review_goods_info_grid_star {
    display: grid;
}
.star-rating {
    display: flex;
    align-items: center;
    line-height: 20px;
}
.star {
    font-size: 1.5rem;
    color: lightgray;
}
.star.checked {
    color: gold;
}

/* ------------- 목록번호 ------------- */
.list_num_item {
    width: 70%;
    margin: 6rem auto 0;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}
.list_num_item > a {
    margin-left: 1rem;
    padding: 0rem 1rem;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.num {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.num_none:hover {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

 /* --------------------- move top --------------------- */
.move_top{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 8%;
    border-radius: 50%;
    z-index: 991;
}

.move_top_img {
    width: 100%;
    height: 100%;
}

/* 테블릿 */
@media screen and (min-width: 771px) and (max-width: 1200px) {
    h1 {
        margin: 0 auto;
        width: 80%;
    }
    .detailed_haeder {
        flex-direction: column;
        gap: 2rem;
        max-height: none; /* 높이 제한 해제 */
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    .detailed_haeder > img {
        width: 100%; /* 이미지를 화면 너비에 맞게 조정 */
    }

    .detailed_haeder_item {
        font-size: 1rem; /* 폰트 크기 축소 */
        margin-left: 3rem;
    }
    .detailed_footer_content {
        width: 20rem; /* 필요에 따라 너비 설정 */
        font-size: 1rem;
    }
    .detailed_footer_date {
        padding-left: 0.5rem;
    }
    .detailed_haeder_btn {
        display: flex;
        gap: 2rem;
        margin-top: 3rem;
    }
    .detailed_content img {
        max-width: 100%;
    }
    .detailed_haeder_bay
    ,.detailed_haeder_bag_a {
        width: 12rem;
        font-size: 1.2rem;
    }
    .detailed_haeder_review {
        margin-bottom: 3rem;
    }
    .detailed_content {
        margin-top: 5rem;
    }
    hr {
        width: 80%;
        margin: 3rem auto;
    }
    .detailed_footer {
        margin-top: 2rem;
        padding: 0.8rem;
        border-radius: 10px;
    }
    .move_top_img {
        width: 80%;
        height: 80%;
    }
    .detailed_footer_item {
        width: 80%;
        margin: 0 auto;
    }
}

/* 모바일 */
@media (max-width: 770px) {
    h1 {
        margin: 0 auto;
        width: 80%;
    }
    .detailed_haeder {
        flex-direction: column;
        gap: 2rem;
        max-height: none; /* 높이 제한 해제 */
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    main {
        width: 100%;
        margin: 0 auto;
    }
    .detailed_haeder > img {
        width: 100%; /* 이미지를 화면 너비에 맞게 조정 */
    }

    .detailed_haeder_item {
        font-size: 1rem; /* 폰트 크기 축소 */
        margin-left: 1rem;
    }
    .detailed_footer_content {
        width: 15rem; /* 필요에 따라 너비 설정 */
        font-size: 1rem;
    }
    .detailed_footer_date {
        padding-left: 0.5rem;
    }
    .detailed_haeder_btn {
        display: flex;
        gap: 1.2rem;
        margin-top: 3rem;
    }
    .detailed_content img {
        width: 100%;
    }
    .detailed_haeder_bay
    ,.detailed_haeder_bag_a {
        width: 10rem;
        font-size: 1.2rem;
    }
    .detailed_haeder_review {
        margin-bottom: 3rem;
    }
    .detailed_content {
        margin-top: 5rem;
    }
    hr {
        width: 80%;
        margin: 3rem auto;
    }
    .detailed_footer {
        margin-top: 2rem;
        display: flex;
        border: 1px solid #5c5c5c;
        padding: 0.8rem;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;
    }
    .star {
        font-size: 1rem;
    }
    .detailed_footer_item {
        width: 80%;
        margin: 0 auto;
    }
    .move_top{
        right: 7%;
    }
    .move_top_img {
        width: 80%;
        height: 80%;
    }

    /* 한잔이야기 */
    .detailed_img[data-v-5e59c9e8] {
        width: 80%;
    }
    .datailed_title_img {
        padding: 4rem;
    }
}