* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

main {
    width: 70%;
    margin: 3rem auto;
}

.errors_title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5c5c5c;
}

.erros_box {
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    margin: 20px auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.errors_img {
    grid-column: 1 / 4;
    margin: 10px 0;
}

.errors_link {
    grid-column: 1 / 2;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    height: 35px;
    margin: 10px 0 0 200px;
    font-size: 1rem;
    font-weight: 300;
    line-height: 35px;
    text-align: center;
}

.errors_back {
    grid-column: 3 / 4;
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    height: 35px;
    margin: 10px 200px 0 0;
    font-size: 1rem;
    line-height: 35px;
    text-align: center;
}

.errors_link:hover,
.errors_back:hover {
    background-color: #FAC91D;
    color: black;
}

/* ----------------------- 웹 버전 ----------------------- */
@media screen and (min-width: 1201px) {
    .errors_img {
        width: 800px;
    }

    .erros_box {
        width: 80%;
    }

    .errors_link {
        margin: 10px 0 0 200px;
        width: 150px;
    }
    
    .errors_back {
        margin: 10px 200px 0 0;
        width: 150px;
    }
}
/* ---------------------- 태블릿 버전 ---------------------- */
@media screen and (min-width: 771px) and (max-width: 1200px) {
    main {
        width: 80%;
    }

    .errors_img {
        width: 80%;
    }
    
    .errors_link {
        margin: 10px 0 0 200px;
        width: 150px;
    }
    
    .errors_back {
        margin: 10px 200px 0 0;
        width: 150px;
    }
}
/* ---------------------- 모바일 버전 ---------------------- */
@media screen and (max-width: 770px) {
    main {
        width: 90%;
    }

    .erros_box {
        width: 100%;
    }

    .errors_img {
        width: 80%;
    }

    .errors_link {
        margin: 10px 0 0 40px;
        width: 100px;
    }
    
    .errors_back {
        margin: 10px 40px 0 0;
        width: 100px;
    }

}