/* 교환 및 반품 공통 작업 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

main {
    width: 70%;
    margin: 3rem auto;
}

.ex_padding_top {
    padding-top: 10px;
}
.ex_padding_bottom {
    padding-bottom: 10px;
}
.ex_padding_left {
    padding-left: 10px;
}
.ex_margin_top {
    margin-top: 20px;
}
.ex_margin_bottom {
    margin-bottom: 10px;
}
.ex_yellow {
    color: #FAC91D;
}
.ex_border_none {
    border: none;
}
.ex_flex_end{
    display: flex;
    justify-content: flex-end;
}


/* 제목 */
.ex_title{
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5c5c5c;
}

/* 상품 목록 테두리 및 정렬*/
.ex_goods_item {
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    margin: 40px 0;
    display: flex;
    align-items: center;
}

/* 상품,날짜 그리드 */
.ex_grid {
    display: grid;
    padding: 20px;
}

/* 이미지, 상품 정보 그리드 */
.ex_goods_grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    padding: 20px;
}

/* 주문, 구매확정 날짜 */
.ex_order_at{
    font-weight: bold;
    padding: 0 20px;
}
.ex_yellow {
    color: #FAC91D;
}

/* 상품이미지 */
.ex_goods_img {
    width: 100%;
    height: 100%;
    place-items: center; /* Grid 컨테이너 내부의 모든 항목을 중앙에 정렬 */
}

/* 상품 이름 */
.ex_goods_title {
    font-size: 1.5rem;
    font-weight: 500;
}

/* 상품 금액 글자조절 */
.ex_font {
    font-size: 0.8rem;
    font-weight: 900;
}


/* 사유 목록 글자 조절 */
.ex_content {
    font-size: 1.5rem;
}


/* 회수 정보 그리드 */
input {
    padding: 5px;
}
.main_bottom {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    gap: 10px;
    width: 60%;
    margin: 50px auto;
}

.header_bottom input {
    width: 100%;
}

.header_bottom span {
    text-align: left;
}

.main_bottom_name {
    grid-row: 2 / 3;
}

.main_bottom_input1 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.main_bottom_tell {
    grid-row: 4 / 5;
}

.main_bottom_input2 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.info_item_err_msg1 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height  : 15px;
}

.info_item_err_msg2 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    height  : 15px;
}

.info_item_err_msg3 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    height  : 15px;
}

.main_bottom_adds {
    grid-row: 6 / 7;
}

.main_bottom_input3 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}
.main_bottom_input4 {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}
.main_bottom_btn {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
}

.main_bottom_btn:hover {
    color: black;
    background-color: #FAC91D;  
}
.main_bottom_de_adds {
    grid-column: 2 / 4;
    grid-row: 8 / 9;
}
.main_bottom_input5 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 9 / 10;
}



/* 합계금액 보더 */
.ex_total_border {
    border: 1px solid #5c5c5c;
}

/* 합계금액 그리드 */
.ex_total_grid {
    display: grid;
    grid-template-columns: 6fr 3fr 1fr 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;
    height: 8rem;
}

/* 취소 버튼 */
.ex_cancel {
    text-decoration: none;
    font-size: 1rem;
    height: 35px;
    line-height: 35px;
    padding: 0 3rem;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.ex_cancel:hover {
    background-color: #FAC91D;
    font-weight: 400;
    color: black;
}

.ex_cancel_padding {
    margin-right: 2rem;
}



/* 체크박스 수정 */
.radio_grid {
    display: grid;
    grid-template-columns: 0.025fr 1fr;
    gap: 5px;
}

.checkbox {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

input[type="radio"] {
    display: none;
}


input[type="radio"]:checked + .checkbox {
    background-image: url('/img/checked.png');
    background-size: contain;
}

.checked_icon {
    height: 25px;
    width: 25px;
}

.checkbox > p {
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.radio1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.radio2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.radio3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.radio4 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}