* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 70%;
    margin: 3rem auto;
    min-height: 37vh;
}

.dark-mode input {
    background-color: #5c5c5c;
    color: white;
    border-style: none;
}

.dark-mode .header {
    background-color: #121212;
}

.dark-mode button {
    background-color: rgb(201, 199, 199);
    color: #121212;
}

input {
    padding: 5px;
}

@media (min-width: 1200px) {
    .header_top {
        padding-bottom: 10px;
        width: 100%;
        border-bottom: 1px solid #5c5c5c;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header_step > h2 {
    font-size: 1.8rem;
    margin-right: 10px;
}

.header_step > li {
    margin: 10px;
}

.header_step {
    display: flex;
    list-style: none;
    flex-direction: row;
}

.main_top {
    padding-bottom: 10px;
    border-bottom: 1px solid #5c5c5c;
}


.li_yellow {
    color: #FAC91D;
}

.main_top > h2 {
    font-size: 1.8rem;
}

@media (min-width: 1200px) {
    .header_bottom {
        display: grid;
        grid-template-columns: 0.2fr 1fr;
        gap: 10px;
        width: 60%;
        margin: 50px auto;
    }
}

.info_item_err_msg_name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 15px;
    color: red;
}

.header_bottom_name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.header_bottom_name_input{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.info_item_err_msg_tel {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 15px;
    color: red;
}

.header_bottom_tel {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.header_bottom_tel_input {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.header_btn {
    height: 35px;
    width: 150px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 35px;
    text-align: center;
}

.header_btn:hover {
    background-color: #FAC91D;
    color: black;
}

@media (min-width: 1200px) {
    .header_btn_margin {
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .main_bottom {
        display: grid;
        grid-template-columns: 0.4fr 1fr 1fr;
        gap: 10px;
        width: 60%;
        margin: 50px auto;
    }
}

.header_bottom input {
    width: 100%;
}

.header_bottom span {
    text-align: left;
}

.main_bottom_name {
    grid-row: 2 / 3;
}

.main_bottom_input1 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.main_bottom_tell {
    grid-row: 4 / 5;
}

.main_bottom_input2 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
}

.info_item_err_msg1 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    height  : 15px;
}

.info_item_err_msg2 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    height  : 15px;
}

.info_item_err_msg3 {
    color: red;
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    height  : 15px;
}

.main_bottom_adds {
    grid-row: 6 / 7;
}

.main_bottom_input3 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}
.main_bottom_input4 {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}
.main_bottom_btn {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
}

.main_bottom_btn:hover {
    color: black;
    background-color: #FAC91D;  
}
.main_bottom_de_adds {
    grid-column: 2 / 4;
    grid-row: 8 / 9;
}
.main_bottom_input5 {
    width: 100%;
    grid-column: 2 / 4;
    grid-row: 9 / 10;
}

@media (min-width: 1200px) {
    .bag_total_grid {
        display: grid;
        grid-template-columns: 6fr 3fr 1fr 2fr 1fr 2fr;
        align-items: center;
        justify-items: center;
        height: 8rem;
    }
}

.bag_total_border {
    border: 1px solid #5c5c5c;
}

.bag_margin_top {
    margin-top: 20px;
}
.bag_margin_bottom {
    margin-bottom: 10px;
}
.bag_margin_right {
    margin-right: 10px;
}
.bag_yellow {
    color: #FAC91D;
    margin-left: 10px;
}
.bag_border_none {
    border: none;
}
.bag_flex_end{
    display: flex;
    justify-content: flex-end;
}

.total_text_right {
    text-align: right;
}

.btn_com_box {
    margin-top: 30px;
    text-align: right;
}

.btn_ord_com {
    height: 35px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 35px;
    text-align: center;
    border: none;
}

.btn_ord_com:hover {
    color: black;
    background-color: #FAC91D;
}

/* 태블릿 버전 스타일 */
/* 모바일 버전 스타일 */
@media (max-width: 1200px) {
    * {
        font-size: 0.8rem;
    }
    .header_top {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header_btn_box {
        display: grid;
        gap: 10px;
        justify-items: end;
    }

    .header_step > li {
        display: none;
    }
    .header_bottom {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 10px;
        margin: 50px auto;
    }

    .header_btn_margin {
        margin-right: 0px;
    }

    .main_bottom {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 10px;
        margin: 50px auto;
    }

    .bag_total_grid {
        display: grid;
        grid-template-columns: 0.1fr 4.5fr 0.1fr 2fr 0.1fr 3fr;
        align-items: center;
        justify-items: center;
        height: 8rem;
    }


}