/* *** 리뷰 공통 *** */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

main {
    width: 70%;
    margin: 3rem auto;
} 

.review_title {
    font-size: 1.8rem;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5c5c5c;
}

/* 상품 목록 테두리 및 정렬*/
.review_goods_item {
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    margin: 40px 0;
    display: flex;
    align-items: center;
}

/* 상품이미지 */
.review_goods_img {
    width: 90%;
    height: 90%;
    place-items: center; /* Grid 컨테이너 내부의 모든 항목을 중앙에 정렬 */
    padding: 10px;
}

/* 상품 이름 */
.review_goods_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}



/* *** 리뷰 관리 *** */

/* 상품 목록 그리드 */
.review_grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 3fr 0.1fr 2fr;
    /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
    margin: 20px 0;
    align-items: center;
    justify-items: end;
}

/* 상품 정보 그리드 */
.review_goods_info {
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr;
    padding: 0 20px 0 10px;
    align-items: center;
    height: 90%;
    width: 100%;
    gap: 5px;
}

/* 별점 출력 */
.star_gray {
    font-size: 1.5rem;
    color: lightgray;
}
.star_gold {
    font-size: 1.5rem;
    color: gold;
}

/* 작성일자 */
.review_create_at {
    font-size: 0.7rem;
    color: #5c5c5c;
    line-height: 1.5rem;
    margin-left: 10px;
}
    
/* 리뷰표시 */
.review_content {
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    font-size: 0.7rem;
    height: 150px;
    padding: 10px;
}
     
/* 세로 구분선 */
.vertical-hr {
    width: 1px;
    height: 90%;
    background-color: #5c5c5c;
}
                
/* 수정, 삭제 버튼 */
.review_goods_info_grid_btn {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    justify-items: center;
}
.review_btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
    cursor: pointer;
    height: 50px;
    width: 80%;
}
    
/* 페이지 네이션 */
/* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pagination button {
    margin: 15px 7px;
    padding: 2px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.pagination .page-numbers {
    display: flex;
    font-weight: bold;
    gap: 10px;
}
.pagination .page-number {
    background-color: white;
    cursor: pointer;
}
.pagination .page-number.active {
    border-radius: 50%;
    background-color: #FAC91D;
    border-color: #FAC91D;
}
.pagination button.disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
} */

/* 페이지네이션 */
.list_num_item {
    margin: 80px auto;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.list_num_item > a {
    padding: 0rem 1rem;
    margin: 0 0.5rem;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.num {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.num_none:hover {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 41px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}




/* *** 리뷰 작성 *** */

.reviewC_title_grid {
    display: flex;
    justify-content: space-between;
}

/* 쇼핑 계속하기 버튼, 돌아가기 버튼 */
/* .reviewC_cancel {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.reviewC_cancel:hover {
    background-color: #FAC91D;
    font-weight: 400;
    color: black;
} */



.reviewC_cancel {
    height: 35px;
    width: 150px;
    padding: 0 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 1rem;
    font-weight: 400;
}
.reviewC_cancel:hover {
    background-color: #FAC91D;
    color: rgb(0, 0, 0);
}

.reviewC_padding_top {
    padding-top: 10px;
}
.reviewC_padding_bottom {
    padding-bottom: 10px;
}

/* 상품,날짜 그리드 */
.reviewC_grid {
    display: grid;
    padding: 20px;
}

/* 주문, 구매확정 날짜 */
.reviewC_order_at{
    font-weight: bold;
}
.reviewC_yellow {
    color: #FAC91D;
}

/* 이미지, 상품정보 그리드 */
.reviewC_goods_grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* 필수 */
.reviewC_required {
    font-size: 0.7rem;
    color: #5c5c5c;
}
.reviewC_required_red{
    color: red;
}

/* 별점 선택*/
.review_goods_info_grid_star {
    display: grid;
}
.star-rating {
    display: flex;
    cursor: pointer;
    align-items: center;
    line-height: 20px;
}
.star {
    font-size: 1.5rem;
    color: lightgray;
}
.star.checked {
    color: gold;
}


/* 리뷰작성 */
textarea {
    width: 100%;
    height: 20vh;
    padding: 10px;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    resize: none;
}

/* 등록하기 버튼 */
.reviewC_submit_btn {
    cursor: pointer;
    font-size: 1rem;
    height: 35px;
    width: 150px;
    line-height: 35px;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;

}
.reviewC_submit_btn:hover {
    background-color: #FAC91D;
    color: black;
}

.reviewC_btn_right {
    display: flex;
    justify-content: flex-end;
}

.review_none_item_center {
    padding: 20px;
    text-align: center;
}

