/* *** 리뷰 공통 *** */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}

.dark-mode hr {
    border-color: #5c5c5c;
}

.dark-mode textarea {
    background-color: #5c5c5c;
    color: white;
    border-style: none;
}

.dark-mode textarea::placeholder {
    color: #D3D3D3;
}

.dark-mode .reviewC_required {
    color: #D3D3D3;
}

.dark-mode button {
    background-color: rgb(255, 255, 255);
    color: #121212;
}

.dark-mode .reviewC_cancel {
    background-color: rgb(255, 255, 255);
    color: #121212;
}

.modal_btn {
    background-color: rgb(201, 199, 199);
    border-radius: 15px;
    border: none;
    height: 40px;
    width: 70px;
    cursor: pointer;
    margin: 20px;
}
.modal_btn:hover {
    background-color: #FAC91D;
    color: black;
}

.modal_second_overlay {
    display: flex;
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.modal_second_window {
    background: rgb(253, 220, 57);
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 15%;
}

.second_content {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 0.9em;
}

.complete_btn {
    cursor: pointer;
}

/* ------------------------- */

.down-enter-from {
    opacity: 0;
    transform: translateY(-200%);
  }
  
.down-enter-active {
transition: all 0.5s ease;
}

.down-enter-to {
opacity: 1;
transform: translateY(0%);
}

.down-leave-from {
opacity: 1;
transform: translateY(0%);
}

.down-leave-active {
transition: all 0.5s ease;
}

.down-leave-to {
opacity: 0;
transform: translateY(-200%);
}

main {
    width: 70%;
    margin: 3rem auto;
} 

.review_title {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5c5c5c;
}

.review_title > h2 {
    font-size: 1.8rem;
}

/* 상품 목록 테두리 및 정렬*/
.review_goods_item {
    border: 1px solid #5c5c5c;
    border-radius: 20px;
    margin: 40px 0;
    display: grid;
    align-items: center;
}

/* 상품이미지 */
.review_goods_img {
    width: 90%;
    height: 90%;
    place-items: center; /* Grid 컨테이너 내부의 모든 항목을 중앙에 정렬 */
    margin: 10px;
}

/* 상품 이름 */
.review_goods_title {
    font-size: 1.5rem;
    font-weight: 500;
    /* margin-bottom: 10px; */
}
.reviewC_goods_title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}



/* *** 리뷰 관리 *** */
/*  */
.review_item_grid {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr; */
    padding: 20px;
}
/*  */
@media (min-width: 770px) {
    .review_goods_grid {
        display: grid;
        grid-template-columns: 1.2fr 3.4fr 0.1fr 1.5fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

/* 상품 목록 그리드 */
.review_grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 3fr 0.1fr 2fr;
    /* grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); */
    margin: 20px 0;
    align-items: center;
    justify-items: end;
}

/* 상품 정보 그리드 */
.review_goods_info {
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr;
    padding: 0 20px 0 10px;
    align-items: center;
    height: 90%;
    width: 100%;
    gap: 5px;
}

/* 별점 출력 */
.star_gray {
    font-size: 1.5rem;
    color: lightgray;
}
.star_gold {
    font-size: 1.5rem;
    color: gold;
}

/* 작성일자 */
.review_create_at {
    font-size: 0.7rem;
    color: #5c5c5c;
    line-height: 1.5rem;
    margin-left: 10px;
}
    
/* 리뷰표시 */
.review_content {
    border: 1px solid #5c5c5c;
    border-radius: 10px;
    font-size: 0.7rem;
    height: 150px;
    padding: 10px;
}
     
/* 세로 구분선 */
.vertical-hr {
    width: 1px;
    height: 90%;
    background-color: #5c5c5c;
}
                
/* 수정, 삭제 버튼 */
.review_goods_info_grid_btn {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    justify-items: center;
}
.review_btn {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #5c5c5c;
    cursor: pointer;
    height: 50px;
    width: 80%;
}
    
/* 페이지 네이션 */
/* .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.pagination button {
    margin: 15px 7px;
    padding: 2px 10px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 1.2rem;
}
.pagination .page-numbers {
    display: flex;
    font-weight: bold;
    gap: 10px;
}
.pagination .page-number {
    background-color: white;
    cursor: pointer;
}
.pagination .page-number.active {
    border-radius: 50%;
    background-color: #FAC91D;
    border-color: #FAC91D;
}
.pagination button.disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
} */

/* 페이지네이션 */
/* .list_num_item {
    margin: 80px auto;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.list_num_item > a {
    padding: 0rem 1rem;
    margin: 0 0.5rem;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.num {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.num_none:hover {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 41px;
    height: 40px;
    text-align: center;
    line-height: 40px;
} */

/* 페이지네이션 */
.list_num_item {
    margin: 80px auto;
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.list_num_item > a {
    color: #000;
    font-weight: 500;
}
.num {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 39px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.num_none:hover {
    background-color: #FAC91D;
    border-radius: 50%;
    width: 41px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}



/* *** 리뷰 작성 *** */

.reviewC_title_grid {
    display: flex;
    justify-content: space-between;
}

/* 쇼핑 계속하기 버튼, 돌아가기 버튼 */
/* .reviewC_cancel {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.reviewC_cancel:hover {
    background-color: #FAC91D;
    font-weight: 400;
    color: black;
} */



.reviewC_cancel {
    height: 35px;
    width: 150px;
    padding: 0 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 1rem;
    font-weight: 400;
}
.reviewC_cancel:hover {
    background-color: #FAC91D;
    color: rgb(0, 0, 0);
}

.reviewC_padding_top {
    padding-top: 10px;
}
.reviewC_padding_bottom {
    padding-bottom: 10px;
}

/* 상품,날짜 그리드 */
.reviewC_grid {
    display: grid;
    padding: 20px;
}

/* 주문, 구매확정 날짜 */
.reviewC_order_at{
    font-weight: bold;
}
.reviewC_yellow {
    color: #FAC91D;
}

/* 이미지, 상품정보 그리드 */
.reviewC_goods_grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* 필수 */
.reviewC_required {
    font-size: 0.7rem;
    color: #5c5c5c;
}
.reviewC_required_red{
    color: red;
}

/* 별점 선택*/
.review_goods_info_grid_star {
    display: grid;
}
.star-rating {
    display: flex;
    cursor: pointer;
    align-items: center;
    line-height: 35px;
}
.star {
    font-size: 1.5rem;
    color: lightgray;
}
.star.checked {
    color: gold;
}


/* 리뷰작성 */
textarea {
    width: 100%;
    height: 20vh;
    padding: 10px;
    border: 1px solid #5c5c5c;
    border-radius: 4px;
    resize: none;
}

/* 등록하기 버튼 */
.reviewC_submit_btn {
    cursor: pointer;
    font-size: 1rem;
    height: 35px;
    width: 150px;
    line-height: 35px;
    padding: 0 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;

}
.reviewC_submit_btn:hover {
    background-color: #FAC91D;
    color: black;
}

.reviewC_btn_right {
    display: flex;
    justify-content: flex-end;
}

.review_none_item_center {
    padding: 20px;
    text-align: center;
}

/* 태블릿 버전 스타일 */
@media screen and (min-width: 771px) and (max-width: 1200px) {
    main {
        width: 80%;
    }
    /* 페이지네이션 */
    .list_num_item {
        width: 90%;
    }
    .list_num_item > a {
        padding: 0rem 1rem;
        margin: 0 0.5rem;
        font-size: 1rem;
    }
}

/* 모바일 버전 스타일 */
@media screen and (max-width: 770px) {
    * {
        font-size: 0.8rem;
    }
    .reviewC_goods_title {
        font-size: 1.3rem;
    }

    main {
        width: 90%;
    }
    /* 페이지네이션 */
    .list_num_item {
        width: 100%;
    }
    .list_num_item > .num,
    .list_num_item > .num_none {
        font-size: 0.9rem;
        margin: 0 5px;
        padding: 0 12px;
    }
    .num {
        width: 32px;
        height: 31px;
        line-height: 31px;
    }
    .num_none:hover {
        width: 32px;
        height: 31px;
        line-height: 31px;
    }
    .before, .next {
        font-size: 0.8rem;
    }

    .review_goods_grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .review_goods_info_grid_btn {
        grid-column: 1 / 3;
    }
}